watch_stylesheet: true
watch_config: true
debug: false

# This is the main configuration file for Yet Another Status Bar (YASB)
bars:
  primary-bar:
    enabled: true
    screens: ["*"]
    class_name: "yasb-bar"
    alignment:
      position: "top"
      center: false
    blur_effect:
      enabled: true
      acrylic: false
      dark_mode: true
      round_corners: false
      border_color: None
    window_flags:
      always_on_top: false
      windows_app_bar: true
    dimensions:
      width: "100%"
      height: 32
    padding:
      top: 0
      left: 0
      bottom: 0
      right: 0
    widgets:
      left:
        [
          "win_button",
          "home",
          "apps"
        ]
      center:
        [
          "clock"
        ]
      right:
        [
          "taskbar",
          "media",
          "cava",
          "wifi",
          "battery",
          "cpu",
          "memory",
          "volume",
          "power_menu"
        ]

widgets:
  home:
    type: "yasb.home.HomeWidget"
    options:
      label: "<span>\ue62a</span>"
      menu_list:
      - { title: "User Home", path: "~" }
      - { title: "Download", path: "C:\\Users\\UserName\\Downloads" }
      - { title: "Documents", path: "C:\\Users\\UserName\\Documents" }
      - { title: "Pictures", path: "C:\\Users\\UserName\\Pictures" }
      system_menu: true
      power_menu: true
      blur: true
      round_corners: true
      round_corners_type: "normal"
      border_color: "#585b70"
      distance: 6
      container_padding: 
        top: 0
        left: 0
        bottom: 0
        right: 0
      alignment: "left"
      direction: "down"
      menu_labels:
        shutdown: "Shutdown"
        restart: "Restart"
        logout: "Logout"
        lock: "Lock"
        sleep: "Sleep"
        system: "System Settings"
        about: "About This PC"
        task_manager: "Task Manager"

  taskbar:
    type: "yasb.taskbar.TaskbarWidget"
    options:
      animation:
        enabled: true
      icon_size: 16
      ignore_apps:
        processes: []
        titles: []
        classes: []
      container_padding:
        top: 0
        left: 5
        bottom: 0
        right: 5

  media:
    type: "yasb.media.MediaWidget"
    options:
      label: "{title} - {artist}"
      label_alt: "{title}"
      max_field_size:
        label: 50
        label_alt: 40
      show_thumbnail: false
      controls_only: false
      controls_left: true
      hide_empty: false
      icons:
        prev_track: "\udb81\udcae"
        next_track: "\udb81\udcad"
        play: "\udb81\udc0a"
        pause: "\udb80\udfe4"

  battery:
    type: "yasb.battery.BatteryWidget"
    options:
      label: "<span class='icon'>{icon}</span> {percent}%"
      label_alt: " time: {time_remaining}"
      charging_options:
        icon_format: "{charging_icon}"

  clock:
    type: "yasb.clock.ClockWidget"
    options:
      label: "<span class='icon'>\uf017</span> {%a %d %b %H:%M }"
      label_alt: "{%A %d %B %Y %H:%M:%S}"
      timezones: []
      calendar: 
        blur: True
        round_corners: True
        round_corners_type: 'normal'
        border_color: "#585b70"
        alignment: 'center'
        direction: 'down'
        distance: 6

  cpu:
      type: "yasb.cpu.CpuWidget"
      options:
        label: "<span class='icon'>\uf4bc</span> {info[percent][total]}%"
        label_alt: "<span class='icon'>\uf437</span> {info[histograms][cpu_percent]}"
        update_interval: 2000
        histogram_icons:
          - '\u2581' 
          - '\u2581' 
          - '\u2582' 
          - '\u2583' 
          - '\u2584' 
          - '\u2585' 
          - '\u2586' 
          - '\u2587' 
          - '\u2588' 
        histogram_num_columns: 8
        callbacks:
          on_right: "exec cmd /c Taskmgr"

  memory:
      type: "yasb.memory.MemoryWidget"
      options:
        label: "<span class='icon'>\uefc5</span> {virtual_mem_free}"
        label_alt: "<span class='icon'>\uefc5</span> {virtual_mem_percent}%"
        update_interval: 10000
        callbacks:
          on_right: "exec cmd /c Taskmgr"

  wifi:
    type: "yasb.wifi.WifiWidget"
    options:
      label: "<span class='icon'>{wifi_icon}</span> {wifi_name}"
      label_alt: "{wifi_name} {wifi_strength}%"
      update_interval: 5000
      callbacks:
        on_left: "exec explorer ms-availablenetworks:"
        on_middle: "do_nothing"
        on_right: "toggle_label"
      wifi_icons: [
        "\udb82\udd2e",
        "\udb82\udd1f",
        "\udb82\udd22",
        "\udb82\udd25",
        "\udb82\udd28" 
      ]

  weather:
    type: "yasb.weather.WeatherWidget"
    options:
      label: "<span class='icon'>{icon}</span> {temp}"
      label_alt: "{location}: Min {min_temp}, Max {max_temp}, Humidity {humidity}"
      api_key: "24b6c2cda6d84066b0304531241908"
      update_interval: 600
      hide_decimal: true
      location: "India New Delhi 90006"
      callbacks:
        on_left: "toggle_label"
      icons:
        sunnyDay: "\udb81\udd99"
        clearNight: "\udb81\udd99"
        cloudyDay: "\udb81\udd99"
        cloudyNight: "\udb81\udd99"
        rainyDay: "\udb81\udd99"
        rainyNight: "\udb81\udd99"
        snowyIcyDay: "\udb81\udd99"
        snowyIcyNight: "\udb81\udd99"
        blizzard: "\udb81\udd99"
        default: "\udb81\udd99"

  volume:
    type: "yasb.volume.VolumeWidget"
    options:
      label: "<span class='icon'>{icon}</span> {level}"
      label_alt: "{volume}"
      volume_icons:
        - "\udb81\udf5f "
        - "\uf026 "
        - "\uf026 "
        - "\uf027 "
        - "\uf028 "
      callbacks:
        on_right: "exec cmd.exe /c start ms-settings:sound"
      audio_menu:
        blur: True
        round_corners: True
        round_corners_type: 'normal'
        border_color: "#585b70"
        alignment: 'right'
        direction: 'down'
        distance: 6

  power_menu:
    type: "yasb.power_menu.PowerMenuWidget"
    options:
      label: "\ue7e8"
      uptime: True
      blur: False
      blur_background: True
      animation_duration: 200
      button_row: 5
      buttons:
        shutdown: ["\ue7e8", "Shut Down"]
        restart: ["\uead2", "Restart"]
        signout: ["\udb80\udf43", "Sign out"]
        hibernate: ["\uf28e", "Hibernate"]
        sleep: ["\u23fe", "Sleep"]
        cancel: ["", "Cancel"]

  apps:
      type: "yasb.applications.ApplicationsWidget"
      options:
        label: "{data}"
        app_list:
          - {icon: "\uf0a2", launch: "notification_center"}
          - {icon: "\ueb51", launch: "quick_settings"}
          - {icon: "\uf422", launch: "search"}

  win_button:
      type: "yasb.custom.CustomWidget"
      options:
        label: "^_^"
        label_alt: "\ue62a"
        class_name: "system-widget"
        callbacks:
          on_left: "exec start_menu"

  cava:
    type: "yasb.cava.CavaWidget"
    options:
      bar_height: 12
      min_bar_height: 1
      gradient: 1
      reverse: 0
      foreground: "#cdd6f4"
      gradient_color_1: "#89b4fa" # Blue
      gradient_color_2: "#b4befe" # Lavender
      gradient_color_3: "#cba6f7" # Mauve
      bars_number: 8
      bar_spacing: 2
      bar_width: 4
      sleep_timer: 0
      hide_empty: false
      container_padding:
        top: 2
        left: 8
        bottom: 0
        right: 8